<p style="text-align: center">
    <img src="https://angular.io/assets/images/logos/angular/angular.svg" width="300" height="300" alt="Angular"/>
</p>
<div class="container">
    <div class="row">
        <div class="col"></div>
        <div style="text-align: center" class="col-6 align-self-center">
                <p>Clique em "Cadastrar" para acessar o formulário de lançamento de frequência e em "Relatório" para visualizar as frequências cadastradas.</p>
            <a routerLink="/admin/frequencias/cadastrar" title="Cadastrar Frequência" class="btn btn-primary btn-lg">
                <i class="fa fa-plus"></i> Cadastrar</a>
            <a routerLink="/admin/frequencias/relatorio" title="Visualizar Frequências" class="btn btn-primary btn-lg">
                <i class="fa fa-list-alt"></i> Relatório</a>
        </div>
        <div class="col"></div>
    </div>
</div>
